/* Header.css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; 
    text-align: center;
    z-index: 1000; 
    background-color: rgb(29, 186, 76); 
    box-shadow: 0px 4px 6px rgba(227, 232, 226, 0.884);
}

.wrapper {
    display: flex;
    justify-content: space-between;
}